body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

header {
  background-color: rgb(6, 77, 6);
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: px;
}

nav {
  background-color: green;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
  margin: 0px 50px 0px 100px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;

}

nav ul li a:hover {
  color: black;
  border-bottom: solid 2px white;
}


section {
  margin: 20px;
}

.textarea {
  margin: 10px 80px 10px 80px;
  text-align: justify;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
  text-align: center;
  font-weight: bold;
}
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

#about {
  font-size: small;
  position: relative;
  margin: 0px 10px 0 10px;
  width: 20px;
  height: 20px;
}